<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
              <div class="mt-4">
              {% if request.user.is_authenticated %}
              <form  action="{% url 'save_review' product.slug %}" method="post">
                {% csrf_token %}
                {{ review_form.text }}
                <button class="btn btn-dark mt-4" type="submit">Оставить отзыв</button>
              </form>
              {% else %}
              <p>Для того чтобы оставить отзыв войдите в аккаунт</p>
              {% endif %}
              </div>
              <div class="p-4 p-lg-5 bg-white">
                <div class="row">
                  <div class="col-lg-8">
                    {% for review in reviews %}
                    <div class="d-flex mb-3">
                      <div class="flex-shrink-0"><img class="rounded-circle" src="img/customer-1.png" alt="" width="50"/></div>
                      <div class="ms-3 flex-shrink-1">
                        <h6 class="mb-0 text-uppercase">{{ review.user.username }}</h6>
                        <p class="small text-muted mb-0 text-uppercase">{{ review.created_at }}</p>

                        <p class="text-sm mb-0 text-muted">{{ review.text }}</p>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>


